---
import Http from "../layouts/Http.astro"
import NotFound from "../components/Codes/NotFound.astro"
---

<Http title="The alpaca Factory">
  <main transition:animate="slide">
    <NotFound />
  </main>
</Http>