---
import Layout from '../layouts/Layout.astro'
import FormContact from '../components/FormContact.astro'

export const prerender = false
---

<Layout title="Alpaca Factory Contact.">
  <main class="">
      <FormContact />
  </main>
</Layout>