---
import Layout from '../layouts/Layout.astro'
import FormContact from '../components/forms/FormContact.astro'
---

<Layout title="Alpaca Factory Contact.">
  <main class="">
    <div>
      <FormContact />
    </div>
  </main>
</Layout>