---
import Layout from '../layouts/Layout.astro'
import Form from '../components/Form.astro'

export const prerender = false
---

<Layout title="Alpaca Factory Contact.">
  <main class="">
      <Form />
  </main>
</Layout>