---
import Http from "../layouts/Http.astro"
import ErrorCode from "../components/Codes/ErrorCode.astro"
---

<Http title="The alpaca Factory">
  <main transition:animate="slide">
    <ErrorCode error="Error" code="Error"> 
      We're sorry, we couldn't send your query.
    </ErrorCode>
  </main>
</Http>