---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro'
import Gallery from '../components/gallery/Galery.astro'
import Feature from '../components/Feature.astro'
import Footer from '../components/Footer.astro'
import FormButton from '../components/forms/FormButton.astro'
---



<Layout title="The Alpaca Factory.">
	<Header />
	<main>
		<Feature />
		<Gallery />
		<FormButton />
	</main>
	<Footer />
</Layout>



<!-- -->
