---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro'
import Gallery from '../components/Gallery.astro'
import Feature from '../components/Feature.astro'
import FormButton from '../components/FormComponents/FormButton.astro'
---



<Layout title="The Alpaca Factory">
	<Header />
	<main class=" overflow-x-hidden bg-gradient-to-b from-gray-200 via-white to-white" transition:animate="slide">
		<Feature />
		<Gallery />
		<FormButton />
	</main>
</Layout>
