---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro'
import Gallery from '../components/gallery/Galery.astro'
import Feature from '../components/Feature.astro'
---



<Layout title="The Alpaca Factory.">
	<Header />
	<main>
		<Feature />
		<Gallery />
	</main>
</Layout>



<!-- -->
