---

---


<div class=" bg-gray-50 shadow-2xl p-6 rounded-lg">
  <div class="card h-fit max-w-6xl p-5 md:p-12" id="form">
    <h2 class="mb-4 text-2xl font-bold">Ready to Get Started?</h2>
    <form id="contactForm" method="post" action="/api/mailer.json">
      <div class="mb-6">
        <div class="mx-0 mb-1 sm:mb-4">
          <div class="mx-0 mb-1 sm:mb-4">
            <label for="name" class="pb-1 text-xs uppercase tracking-wider"></label>
            <input type="text" id="name" autocomplete="given-name" placeholder="Your full name" 
              class="mb-2 w-full rounded-md border border-gray-400 py-2 pl-2 pr-4 shadow-md dark:text-gray-600 sm:mb-0" name="name" required>
          </div>
          <div class="mx-0 mb-1 sm:mb-4">
            <label for="email" class="pb-1 text-xs uppercase tracking-wider"></label>
            <input type="email" id="email" autocomplete="email" placeholder="Your email address" 
              class="mb-2 w-full rounded-md border border-gray-400 py-2 pl-2 pr-4 shadow-md dark:text-gray-600 sm:mb-0" name="email" required>
          </div>
          <div class="mx-0 mb-1 sm:mb-4">
            <label for="phone" class="pb-1 text-xs uppercase tracking-wider"></label>
            <input type="number" id="phone" autocomplete="phone" placeholder="Your phone number" 
              class="mb-2 w-full rounded-md border border-gray-400 py-2 pl-2 pr-4 shadow-md dark:text-gray-600 sm:mb-0" name="phone" required>
          </div>
        </div>
        <div class="mx-0 mb-1 sm:mb-4">
          <label for="textarea" class="pb-1 text-xs uppercase tracking-wider"></label>
          <textarea id="textarea" name="message" cols="30" rows="5" placeholder="Write your message..." 
            class="mb-2 w-full rounded-md border border-gray-400 py-2 pl-2 pr-4 shadow-md dark:text-gray-600 sm:mb-0" required></textarea>
        </div>
      </div>
      <div class="text-center">
        <button id="btn-submit" type="submit" class="w-full bg-orange-600 text-white px-6 py-3 font-xl rounded-md sm:mb-0">Send Message</button>
      </div>
    </form>
  </div>
</div>