---
import Form from './FormComponents/Form.astro';
import FormInfo from './FormComponents/FormInfo.astro'

---

<div class=" mb-48" id="contact">
  <div class="mx-auto max-w-7xl px-4 py-16 sm:px-6 lg:px-8 lg:py-20">
    <div class="mb-4">
      <div class="mb-6 max-w-3xl text-center sm:text-center md:mx-auto md:mb-12">
        <p class="text-base font-semibold uppercase tracking-wide text-gray-950 dark:text-gray-700">
          Contact
        </p>
        <h2
          class="font-heading mb-4 font-extrabold tracking-tight text-black dark:text-black text-4xl sm:text-5xl">
          Contact with Alpaca Factory
        </h2>
      </div>
    </div>
    <div class="flex items-stretch justify-center">
      <div class="grid md:grid-cols-2">
        <FormInfo />
        <Form />
      </div>
    </div>
  </div>
</div>