---

import imageBanner from '../assets/images/alpaca1.webp'
import imageBanner1 from '../assets/images/header_alpaca.webp'
import imageBanner2 from '../assets/images/image-001.webp'


const images = [imageBanner.src, imageBanner1.src, imageBanner2.src]
function getRandomIndex() {
    return Math.floor(Math.random() * images.length);
}

const randomIndex = getRandomIndex();
const currentImage = images[randomIndex]

---


<header class="relative bg-gradient-to-r from-gray-950 to-gray-800 h-screen text-white overflow-hidden mb-10">
    <div class="absolute inset-0">
        <img src={currentImage} id="banner-image" alt="Background Image" 
          class="object-cover object-center w-full h-full transition-opacity duration-1000 ease-in-out" 
          style={{ opacity: 1 }}
        />
    <div class="absolute inset-0 bg-black opacity-65"></div>
    </div>
    <div class="relative z-8 flex flex-col justify-center items-center h-full text-center">
      <div class="lg:w-2/3 w-full animate-fade-in-down ">
        <h1 class="md:text-6xl text-3xl mb-2 font-bold text-white tracking-tight leading-tight">
          THE ALPACA FACTORY
        </h1>
        <h1 class="md:text-6xl text-3xl mb-4 font-bold text-white tracking-tight leading-tight">
        Knitting & <span class="border-b-4 border-green-400 -mb-20"></span>Design services for private labels.
        </h1>
        <p class="mt-8 mb-16 md:leading-relaxed leading-normal text-white tracking-tight text-xl">
          Evolved at High Altitude in the Andes of South-America, the Alpaca strives in very challenging environments.
        </p>
        <div class=" flex items-center justify-center">
          <ul class="flex mt-12 space-x-4">
            <li class=" bg-orange-700 hover:bg-orange-600 h-16 w-28 rounded-xl flex items-center justify-center shrink-0 transition hover:scale-110">
                <a href="javascript:void(0)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40px" height="40px" fill='#fff'
                        viewBox="0 0 24 24">
                        <path
                            d="M6.812 13.937H9.33v9.312c0 .414.335.75.75.75l4.007.001a.75.75 0 0 0 .75-.75v-9.312h2.387a.75.75 0 0 0 .744-.657l.498-4a.75.75 0 0 0-.744-.843h-2.885c.113-2.471-.435-3.202 1.172-3.202 1.088-.13 2.804.421 2.804-.75V.909a.75.75 0 0 0-.648-.743A26.926 26.926 0 0 0 15.071 0c-7.01 0-5.567 7.772-5.74 8.437H6.812a.75.75 0 0 0-.75.75v4c0 .414.336.75.75.75zm.75-3.999h2.518a.75.75 0 0 0 .75-.75V6.037c0-2.883 1.545-4.536 4.24-4.536.878 0 1.686.043 2.242.087v2.149c-.402.205-3.976-.884-3.976 2.697v2.755c0 .414.336.75.75.75h2.786l-.312 2.5h-2.474a.75.75 0 0 0-.75.75V22.5h-2.505v-9.312a.75.75 0 0 0-.75-.75H7.562z"
                            data-original="#000000" />
                    </svg>
                </a>
            </li>
            <li class=" bg-orange-700 hover:bg-orange-600 h-16 w-28 rounded-xl flex items-center justify-center shrink-0 transition hover:scale-110">
                <a href="javascript:void(0)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40px" height="40px" fill='#fff'
                        viewBox="0 0 511 512">
                        <path
                            d="M111.898 160.664H15.5c-8.285 0-15 6.719-15 15V497c0 8.285 6.715 15 15 15h96.398c8.286 0 15-6.715 15-15V175.664c0-8.281-6.714-15-15-15zM96.898 482H30.5V190.664h66.398zM63.703 0C28.852 0 .5 28.352.5 63.195c0 34.852 28.352 63.2 63.203 63.2 34.848 0 63.195-28.352 63.195-63.2C126.898 28.352 98.551 0 63.703 0zm0 96.395c-18.308 0-33.203-14.891-33.203-33.2C30.5 44.891 45.395 30 63.703 30c18.305 0 33.195 14.89 33.195 33.195 0 18.309-14.89 33.2-33.195 33.2zm289.207 62.148c-22.8 0-45.273 5.496-65.398 15.777-.684-7.652-7.11-13.656-14.942-13.656h-96.406c-8.281 0-15 6.719-15 15V497c0 8.285 6.719 15 15 15h96.406c8.285 0 15-6.715 15-15V320.266c0-22.735 18.5-41.23 41.235-41.23 22.734 0 41.226 18.495 41.226 41.23V497c0 8.285 6.719 15 15 15h96.403c8.285 0 15-6.715 15-15V302.066c0-79.14-64.383-143.523-143.524-143.523zM466.434 482h-66.399V320.266c0-39.278-31.953-71.23-71.226-71.23-39.282 0-71.239 31.952-71.239 71.23V482h-66.402V190.664h66.402v11.082c0 5.77 3.309 11.027 8.512 13.524a15.01 15.01 0 0 0 15.875-1.82c20.313-16.294 44.852-24.907 70.953-24.907 62.598 0 113.524 50.926 113.524 113.523zm0 0"
                            data-original="#000000" />
                    </svg>
                </a>
            </li>
            <li class=" bg-orange-700 hover:bg-orange-600 h-16 w-28 rounded-xl flex items-center justify-center shrink-0  transition hover:scale-110">
                <a href="javascript:void(0)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40px" height="40px" fill='#fff'
                        viewBox="0 0 24 24">
                        <path
                            d="M12 9.3a2.7 2.7 0 1 0 0 5.4 2.7 2.7 0 0 0 0-5.4Zm0-1.8a4.5 4.5 0 1 1 0 9 4.5 4.5 0 0 1 0-9Zm5.85-.225a1.125 1.125 0 1 1-2.25 0 1.125 1.125 0 0 1 2.25 0ZM12 4.8c-2.227 0-2.59.006-3.626.052-.706.034-1.18.128-1.618.299a2.59 2.59 0 0 0-.972.633 2.601 2.601 0 0 0-.634.972c-.17.44-.265.913-.298 1.618C4.805 9.367 4.8 9.714 4.8 12c0 2.227.006 2.59.052 3.626.034.705.128 1.18.298 1.617.153.392.333.674.632.972.303.303.585.484.972.633.445.172.918.267 1.62.3.993.047 1.34.052 3.626.052 2.227 0 2.59-.006 3.626-.052.704-.034 1.178-.128 1.617-.298.39-.152.674-.333.972-.632.304-.303.485-.585.634-.972.171-.444.266-.918.299-1.62.047-.993.052-1.34.052-3.626 0-2.227-.006-2.59-.052-3.626-.034-.704-.128-1.18-.299-1.618a2.619 2.619 0 0 0-.633-.972 2.595 2.595 0 0 0-.972-.634c-.44-.17-.914-.265-1.618-.298-.993-.047-1.34-.052-3.626-.052ZM12 3c2.445 0 2.75.009 3.71.054.958.045 1.61.195 2.185.419A4.388 4.388 0 0 1 19.49 4.51c.457.45.812.994 1.038 1.595.222.573.373 1.227.418 2.185.042.96.054 1.265.054 3.71 0 2.445-.009 2.75-.054 3.71-.045.958-.196 1.61-.419 2.185a4.395 4.395 0 0 1-1.037 1.595 4.44 4.44 0 0 1-1.595 1.038c-.573.222-1.227.373-2.185.418-.96.042-1.265.054-3.71.054-2.445 0-2.75-.009-3.71-.054-.958-.045-1.61-.196-2.185-.419A4.402 4.402 0 0 1 4.51 19.49a4.414 4.414 0 0 1-1.037-1.595c-.224-.573-.374-1.227-.419-2.185C3.012 14.75 3 14.445 3 12c0-2.445.009-2.75.054-3.71s.195-1.61.419-2.185A4.392 4.392 0 0 1 4.51 4.51c.45-.458.994-.812 1.595-1.037.574-.224 1.226-.374 2.185-.419C9.25 3.012 9.555 3 12 3Z">
                        </path>
                    </svg>
                </a>
            </li>
          </ul>
        </div>
      {/*
        <a class="uppercase rounded-sm bg-red-400 font-bold text-white px-8 py-4 mx-auto mr-4 hidden md:inline"
          href="#contact-form">Contact Me</a>
        <a class="uppercase rounded-sm bg-green-400 font-bold text-white px-8 py-4 mx-auto hidden md:inline"
          href="#about-me">About Me</a>
      */}         
      </div>
      <span id="down-arrow" class="absolute block mx-auto text-xl md:mt-96 bottom-0 left-1/2 -ml-10 mt-80">
        <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg" class="animate-bounce">
          <path 
            d="M21.1716 29.1716C22.7337 27.6095 25.2663 27.6095 26.8284 29.1716L40 42.3431L53.1716 29.1716C54.7337 27.6095 57.2663 27.6095 58.8284 29.1716C60.3905 30.7337 60.3905 33.2663 58.8284 34.8284L42.8284 50.8284C41.2663 52.3905 38.7337 52.3905 37.1716 50.8284L21.1716 34.8284C19.6095 33.2663 19.6095 30.7337 21.1716 29.1716Z"
            fill="#FFFFFF"></path>
        </svg>
      </span>    
    </div>
  </header>

<script>
    const arrow = document.getElementById('down-arrow')
    arrow.addEventListener('click', () => {
      window.scrollTo({
        top: window.innerHeight,
        behavior: 'smooth'
      })
    })
</script>