---
import HeaderButton from './HedaerComponents/HeaderButton.astro'
---


<header class="relative bg-gradient-to-r from-gray-950 to-gray-800 h-screen text-white overflow-hidden mb-10">
    <div class="absolute inset-0">
        <img id="banner-img" src="/banner/images/banner1.webp" id="banner-image" alt="Background Image" 
          class="object-cover object-center w-full h-full" 
          style={{ opacity: 1 }}
        />
    <div class="absolute inset-0 bg-gray-900 opacity-65"></div>
    </div>
    <div class="relative z-8 flex flex-col justify-center items-center h-full text-center">
      <div class="lg:w-2/3 w-full animate-fade-in-down ">
        <h1 class="banner-title md:text-6xl text-6xl mb-2 font-bold text-white tracking-tight leading-tight">
          THE ALPACA FACTORY
        </h1>
        <h1 class="banner-title md:text-6xl text-3xl mb-4 font-bold text-white tracking-tight leading-tight">
        Knitting & <span class="border-b-4 border-green-400 -mb-20"></span>Design services for private labels.
        </h1>
        <p class="banner-text mt-8 mb-16 md:leading-relaxed leading-normal text-white tracking-tight text-xl md:text-3xl">
          Evolved at High Altitude in the Andes of South-America, the Alpaca strives in very challenging environments.
        </p>
        <div class=" flex items-center justify-center">   
          <HeaderButton 
            text="Discover our Knitting Services Possibilities"/>
        </div>
      </div>
      <span id="down-arrow" class="absolute block mx-auto text-xl md:mt-96 bottom-0 left-1/2 -ml-10 mt-80">
        <svg width="80" height="80" viewBox="0 0 80 80" fill="none" class="animate-bounce">
          <path 
            d="M21.1716 29.1716C22.7337 27.6095 25.2663 27.6095 26.8284 29.1716L40 42.3431L53.1716 29.1716C54.7337 27.6095 57.2663 27.6095 58.8284 29.1716C60.3905 30.7337 60.3905 33.2663 58.8284 34.8284L42.8284 50.8284C41.2663 52.3905 38.7337 52.3905 37.1716 50.8284L21.1716 34.8284C19.6095 33.2663 19.6095 30.7337 21.1716 29.1716Z"
            fill="#FFFFFF"></path>
        </svg>
      </span>    
    </div>
  </header>

<script>
  const $img: HTMLImageElement | null = document.getElementById('banner-img') as HTMLImageElement;
  const images: string[] = ['/banner/images/banner1.webp', '/banner/images/banner2.webp']

  const arrow: HTMLOrSVGImageElement | null = document.getElementById('down-arrow') as HTMLOrSVGImageElement
  arrow.addEventListener('click', () => {
    window.scrollTo({
      top: window.innerHeight,
      behavior: 'smooth'
    })
  })

  let currentIndex = 0;
  setInterval(() => {
    currentIndex = (currentIndex + 1) % images.length
    $img.src = images[currentIndex]
  }, 8000)
</script>

<style>
  @font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-LightItalic.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-BlackItalic.ttf') format('truetype');
    font-weight: bold;
  }
  .banner-title {
    font-family: 'Roboto';
    font-weight: bold;
  }
  .banner-text {
    font-family: 'Roboto';
  }

  #banner-img {
    animation: fade-in-out 8s infinite;
  }
  @keyframes fade-in-out {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}
</style>